.card-vehicle {
    transition: 0.2s;
    background-color: #292929c4;
    margin-top: 1rem;
    /*height: max-content;*/
}

.card-vehicle h2 {
    color: #85b6b6;
}

.card-vehicle p {
    color: white;
}

.card-footer p {
    display: inline;
}

.card-vehicle-picture {
    width: 100%;
}

.card-vehicle:hover {
    transition: 0.1s;
    background-color: #292929;
    color: white;
}

.card-vehicle:hover .card-vehicle-tag, .card-vehicle:hover .card-vehicle-picture {
    opacity: 1;
}

.card-vehicle:hover h2 {
    color: white;
}

/*.card-vehicle-title {
    text-align: center;
}*/


.card-vehicle-tag {
    display: inline;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 0.25rem;
    width: min-content;
    font-size: 0.8rem;
    user-select: none;
    opacity: 0.5;
}

.card-vehicle-tag.positive {
    background-color: rgb(95, 255, 63);
    color: black;
}

.card-vehicle-tag.negative {
    background-color: rgb(255, 56, 56);
    color: white;
}

.vehicle-show-edit-button {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 0.25rem;
    user-select: none;
    text-align: center;
    background-color: #292929c4;
    color: white;
    transition: 0.2s;
}

.vehicle-show-edit-button:hover {
    background-color: #292929;
    color: white;
}

.vehicle-show-edit-button.dangerous {
    background-color: rgba(255, 56, 56, 0.747);
}

.vehicle-show-edit-button.dangerous:hover {
    background-color: rgb(255, 56, 56);
    color: white;
}

.vehicle-show-img {
    margin-top: 1rem;
    min-width: 100%;
}

.article-vehicle {
    transition: 0.2s;
    background-color: #292929;
    margin-top: 1rem;
    /*height: max-content;*/
}

.article-vehicle h2 {
    color: white;
}

.article-vehicle p {
    color: white;
}

.article-vehicle .card-vehicle-tag, .article-vehicle .card-vehicle-picture {
    opacity: 1;
}

.article-vehicle .table-dark {
    background-color: #161616;
}

.article-vehicle .table-responsive {
    border-radius: 0.25rem;  
}

.article-vehicle .table {
    border-radius: 0.25rem;  
}