{% extends 'base.html.twig' %}

{% block title %}New vehicle{% endblock %}

{% block body %}
    <h1 class="row justify-content-center">New vehicle</h1>
    {{ include('vehicle/_form.html.twig') }}
{% endblock %}