{% extends 'base.html.twig' %}

{% block title 'Edit vehicle #' ~ vehicle.id %}

{% block body %}
    <h1 class="row justify-content-center">Edit vehicle</h1>
    {{ include('vehicle/_form.html.twig') }}
{% endblock %}